<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yapp.sport_planet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.yapp.sport_planet.presentation.login.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.yapp.sport_planet.presentation.search.result.SearchResultActivity" />
        <activity android:name="com.yapp.sport_planet.presentation.search.SearchActivity" />
        <activity android:name="com.yapp.sport_planet.presentation.mypage.other.mypage.OtherMyPageActivity" />
        <activity android:name="com.yapp.sport_planet.presentation.mypage.history.view.HistoryActivity" />
        <activity android:name="com.yapp.sport_planet.presentation.home.filter.FilterActivity" />
        <activity
            android:name="com.yapp.sport_planet.presentation.profile.ProfileActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.yapp.sport_planet.presentation.chatting.view.ChattingActivity"
            android:theme="@style/ChattingAppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yapp.sport_planet.presentation.profile.ExerciseDialog"
            tools:ignore="Instantiatable" />
        <activity android:name="com.yapp.sport_planet.presentation.board.BoardActivity" />
        <activity android:name="com.yapp.sport_planet.presentation.login.LoginActivity" />
        <activity
            android:name="com.yapp.sport_planet.presentation.main.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.yapp.sport_planet.presentation.splash.IntroActivity" />
        <activity android:name="com.yapp.sport_planet.presentation.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yapp.sport_planet.presentation.write.WriteActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao27b6df70cdf8f39d98b68da14b2650bd" />
            </intent-filter>
        </activity>
    </application>

</manifest>